@import "../resources/styles/variables.scss";
@import "../resources/styles/fonts.scss";

body {
    font-family: "Roboto", monospace;
    background-color: $background;
}

.master {
    color: $onBackground;
    margin: auto;
    max-width: 1080px;
}
